@font-face {
    font-family: "Berkeley Mono";
    src:
        url("/static/fonts/BerkeleyMono-Regular.woff") format("woff"),
        url("/static/fonts/BerkeleyMono-Regular.woff2") format("woff2");

    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Berkeley Mono";
    src:
        url("/static/fonts/BerkeleyMono-Italic.woff") format("woff"),
        url("/static/fonts/BerkeleyMono-Italic.woff2") format("woff2");

    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: "Berkeley Mono";
    src:
        url("/static/fonts/BerkeleyMono-Bold.woff") format("woff"),
        url("/static/fonts/BerkeleyMono-Bold.woff2") format("woff2");

    font-weight: bold;
}

@font-face {
    font-family: "Berkeley Mono";
    src:
        url("/static/fonts/BerkeleyMono-BoldItalic.woff") format("woff"),
        url("/static/fonts/BerkeleyMono-BoldItalic.woff2") format("woff2");

    font-weight: bold;
    font-style: italic;
}

html,
body {
    font-family: "Arial", "Helvetica", sans-serif;
    background: #161718;
    color: #d1cfcc;
    margin-bottom: 50px;
}

pre,
code {
    font-family: "Berkeley Mono", monospace;
}

.container,
.container-fluid {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    padding-right: calc(var(--bs-gutter-x) * 0.5);
    padding-left: calc(var(--bs-gutter-x) * 0.5);
    margin-right: auto;
    margin-left: auto;
}

@media (min-width: 576px) {
    a {
        font-size: 1.6rem;
    }

    html,
    body {
        font-size: 1.4rem;
    }
}
@media (min-width: 768px) {
}
@media (min-width: 992px) {
    .container {
        width: 80%;
    }

    a {
        font-size: 1rem;
    }

    html,
    body {
        font-size: 1rem;
    }
}
@media (min-width: 1200px) {
}
@media (min-width: 1400px) {
}

img {
    max-width: 75%;
    margin: 0 auto;
    display: block;
}

table tbody td {
    padding: 2px 10px;
}

table thread td {
    text-align: left;
}

a {
    color: #8cb4ff;
}

nav ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    margin-bottom: 50px;
    margin-top: 25px;
}

nav ul li {
    margin: 0;
}

ul li {
    margin: 10px 0;
}

code {
    font-size: 0.95rem;
}

h1,
.h1 {
    font-size: calc(1.375rem + 1.5vw);
}
@media (min-width: 1200px) {
    h1,
    .h1 {
        font-size: 2.5rem;
    }
}

h2,
.h2 {
    font-size: calc(1.325rem + 0.9vw);
}
@media (min-width: 1200px) {
    h2,
    .h2 {
        font-size: 2rem;
    }
}

h3,
.h3 {
    font-size: calc(1.3rem + 0.6vw);
}
@media (min-width: 1200px) {
    h3,
    .h3 {
        font-size: 1.75rem;
    }
}

h4,
.h4 {
    font-size: calc(1.275rem + 0.3vw);
}
@media (min-width: 1200px) {
    h4,
    .h4 {
        font-size: 1.5rem;
    }
}

h5,
.h5 {
    font-size: 1.25rem;
}

h6,
.h6 {
    font-size: 1rem;
}

pre {
    display: block;
    margin-top: 0;
    margin-bottom: 1rem;
    overflow: auto;
    font-size: 0.875em;
}
pre code {
    font-size: inherit;
    color: inherit;
    word-break: normal;
}
